h1 {
	text-align: center;
}


div#option-buttons {
	display: flex;
	justify-content: space-around;
	padding: 10px;
	margin: 15px;
}

button.option-btn {
	height: 35px;
}

div#start-game {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 10px;

}

.hide {
	display: none !important;
}

button#play-btn {
	width: 100px;
	height: 40px;
}

div#score-board {
	display: flex;
	justify-content: space-between;
	margin-top: 15px;
	border: 2px solid grey;
	padding: 5px
}

div#choice-display-div {
	display: flex;
	flex-direction: column;
	align-items: center;
}

div#choice-display-div > div {
	margin: 5px;
}

div#round-result {
	margin-top: 15px;
	text-align: center;
}

#game-over-div {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}
#game-over-div > * {
	margin: 10px;
}

#game-over-div > button{
	height: 35px;
	width: auto;
	margin-top: 15px;
}
